# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Force batch scripts to use CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf

# Force bash scripts to use LF
*.sh text eol=lf

# Text files
*.json text
*.yml text
*.yaml text
*.md text
*.tsx text
*.ts text
*.js text
*.jsx text
*.css text
*.html text
*.svg text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.avif binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp4 binary
*.webm binary
*.pdf binary

# Git LFS
*.psd filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text 
