# Disable package-lock for Netlify
package-lock=true
engine-strict=true
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
save-exact=true
legacy-peer-deps=true
auto-install-peers=true
node-options=--max-old-space-size=4096
strict-peer-dependencies=false 